.editor {
  width: 100%;
}
.editor label {
  width: 150px;
  diplay: block;
  float: left;
}
.editor .pager .index li.level3 {
  padding-left: 20px;
}
.editor .pager {
  width: 300px;
  float: left;
  display: block;
  height: 300px;
}
.editor form {
  width: 500px;
  display: block;
  width: 100%;
}
.editor .clear {
  clear: both;
}
.editor #text {
  padding: 10px;
}
.editor #btn_save {
  margin-left: 100px;
}
.node-preview-icon {
  float: left;
  margin-right: 5px;
}
.textarea {
  width: 100%;
  height: 100px !important;
}
